<nav>
  <ul>
    <li><a href="/home">HOME</a></li>
    <li><a href="/page1">PAGE1</a></li>
    <li><a href="/page2">PAGE2</a></li>
  </ul>
</nav>

<style>
  nav {
    background-color: #131313;
    display: flex;
    justify-content: center;

  }
  ul {
    display: flex;
    justify-content: start;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li a {
    font-weight: bold;
    letter-spacing: 5px;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
  }

  li a:hover {
    color: #25a2db;
  }
</style>
