---
import Navv from '../components/Nav.astro'
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AstroTest</title>
</head>
<body>
    <Navv/>
    <main>
        <slot/>
    </main>

</body>
</html>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    body{
        margin: 0;
        padding: 0;   
    }

    main{
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;   
    }
    html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

</style>